<div class="container">
<div class="row">
    <div class="col-12">
       <strong><h5>Stock Portfolio of {{stock.companyName}}</h5></strong>
    <!--   handle log this-->
    </div>
</div>
    <div class="row">
        <table class="table table-hover">
            <caption>Disclaimer: The above data has been provided by a third party API. Hence, We do not guarantee the correcteness of these data.</caption>
            <tbody>
            <tr class="table-primary">
                <td><strong>CEO</strong></td>
                <td><strong>{{stock.CEO}}</strong></td>
            </tr>
            <tr>
                <td><strong>Sector</strong></td>
                <td><strong>{{stock.sector}}</strong></td>
            </tr>
            <tr>
                <td><strong>Address</strong></td>
                <td><strong>{{stock.address}}</strong><strong>  ,{{stock.country}}</strong></td>
            </tr>
            <tr>
                <td><strong>Employees</strong></td>
                <td><strong>{{stock.employees}}</strong></td>
            </tr>
            <tr>
                <td><strong>Symbol</strong></td>
                <td><strong>{{quote.symbol}}</strong></td>
            </tr>
            <tr>
                <td><strong>Currency</strong></td>
                <td><strong>{{quote.currency}}</strong></td>
            </tr>
            <tr>
                <td><strong>week 52 High</strong></td>
                <td><strong>{{quote.week52High}}</strong></td>
            </tr>
            <tr>
                <td><strong>week 52 Low</strong></td>
                <td><strong>{{quote.week52Low}}</strong></td>
            </tr>
            <tr>
                <td><strong>Open</strong></td>
                <td><strong>{{quote.open}}</strong></td>
            </tr>
            <tr>
                <td><strong>Latest Volume</strong></td>
                <td><strong>{{quote.latestVolume}}</strong></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>